################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mvcbooks/v16
/mvcbooks/bin
/mvcbooks/obj/Debug