@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Us</h2>
<h3>@ViewBag.Message</h3>


<p>
    Get the job done right, first time, on time. This is the aim we strive to achieve with every our customer. And to achieve this aim, we employ a vast array of modern and efficient working practices. Each of projects we work on, however large or small it is, gets allocated a project manager and a separate quality control manager. Those peoples' responsibility is to make sure we know exactly what the customer needs and always deliver to or above the client’s expectations.

    All our staff members are fully qualified and experienced. They have gained their experience while working on a large number of Georgian, European and US software projects, Saatec have participated in. Many of our software developers have gained status of Microsoft Certified Professional, which is a proof of their highest levels of knowledge, expertise and professionalism.

    Saatec is proud to be associated with Microsoft –  the world's most successful software development company. The fact that we are using their software tools and development practices means that all our customers automatically obtain the benefits of having websites and software created using world’s most widely used, well tested and easily supported software development platform. Thanks to this, the technology we employ is often at the forefront of the innovation, and you will always find it easy to support and maintain systems we have created for you.

    Saatec is not only a professional and reliable partner for now, but it will remain such in the foreseeable future. Our constant staff education initiatives, ethical approach and strong financial planning, will ensure that Saatec will always available to help your organisation with your technology needs, however advanced those needs are.

    For you as a customer, all this means that you will be getting fast, efficient, professional and probably most importantly cost effective service every time we have the opportunity to work for you.
</p>

