@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    9 Aslanidi st.,<br />
    Tbilisi, 0171, Georgia<br />
    <abbr title="Phone">P:</abbr>
    (+995 32) 2 365334
</address>

<address>
    <strong>Email:</strong> <a href="mailto:contact@saatec.com">contact@saatec.com </a>
</address>